{% if postListItems.length %}
  <section class="[ post-list ] [ pad-top-700 gap-bottom-900 ]">
    <div class="[ inner-wrapper ] [ sf-flow ]">
    
      <ol class="[ post-list__items ] [ sf-flow ] [ pad-top-300 ]" reversed>
        {% for item in postListItems %}
          <li class="post-list__item">
          <p class="text-300 gap-top-100 weight-light primary-shade">
              <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter | upper}}</time>
            </p>
            <h3 class="font-serif leading-tight text-600 weight-mid gap-top-300">
              <a href="{{ item.url }}" class="post-list__link" rel="bookmark">{{ item.data.title }}</a>  
            </h3>
            
            <p class="text-400 gap-top-300">
              {{ item.data.content | striptags | truncate(160, false, " ...")  | safe }}
              
            </p>
            <p class="gap-top-300 post__body">
            <a href="{{ item.url }}" >Continue reading</a> 
            </p>
           <hr class="gap-top-100" />
          </li>
           
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}
